body {
    font-family: 'Noto Sans KR', sans-serif;
}


h1,
h3,
h2,
h4, p, b {
    font-family: 'Noto Sans KR', sans-serif;
}

.threesteps{
    float:left; padding:10px ; width:33%;
}

/* 네비게이션 영역 */
.nav-link:hover,
.nav-link.active {
    color: #ffc1077d;
}

.main_image {
    position: relative;
   
  }
  .main_image_text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate( -50%, -50% );
    color: white;
    font-weight: 900;
    font-size: xx-large;
  }
  .main_image_text2 {
    position: absolute;
    top: 55%;
    left: 22%;
    transform: translate( -30%, -30% );
    color: white;
   
  }

/* 헤더 영역 */
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
}






/* SNS 영역 */
#footer {
    background-color: #EBD0B5;

}
